$blue-5391f6: #5391f6;
$gray-cecece: #cecece;
#assignment-page{
    font-family: sans-serif;
    .content-wrapper{
        min-height: 100vh;
        margin: 0 auto;
        max-width: 500px;
        .search-wrapper{
            display: flex;
            justify-content: center;
            .searchbox{
                border: none;
                border-bottom: 2px solid darkgray;
                font-size: 30px;
                outline: none;
            }
        }
        .country-box{
            border: 1px solid;
            border-radius: 10px;
            padding: 20px;
            margin: 20px auto;
            .countryname-population{
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                .countryname{
                    color: $blue-5391f6;
                    font-size: 20px;
                }
                .population{
                    font-size: 14px;
                }
            }
            .capital-region-population{
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                .capital-region{
                    display: flex;
                    .region{
                        color: $gray-cecece;
                    }
                }
            }
        }
    }
}